<h2>All Heroines</h2>

<%= form_with(url: heroines_path, method: "get") do %>
  <%= label_tag(:search, "Search for Heroine by Power:") %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search", name: nil)%>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
