<h1> Facts about <%=@heroine.name%>:</h1>

<h3> <%=@heroine.name%> goes by the supername: "<%=@heroine.super_name%>" with the power of "<%=@heroine.power.name.capitalize%>" ! </h3>

<p>Read More about "<%=@heroine.power.name.capitalize%>" Power <%=link_to 'here', @heroine.power %>.</p>

